

li.listitem{
    text-align: center;
    justify-content: center;
    font-size: 30px;
    margin: 30px 500px 0px 750px ;
}
.heading ,.maindiv1{
    text-align: center;
    justify-content: center;
    margin: 30px 500px 0px 600px ;

}
